body {
    background-color: #edd2da;
    display: grid;
    grid-template-columns: 90px 950px;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    gap: 35px;
    padding: 50px 200px;
}

.dashboard {
    background-color: #ede8e9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.container {
    background-color: #ede8e9;
    border-radius: 15px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    align-content: flex-start;
    box-sizing: border-box;
    position: relative;
}

.menu__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 silver;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 silver;
}

.card {
    box-shadow: 0 0 5px 0 silver;
    /* height: 150px; */
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 70px auto;
    gap: 14px 20px;
}

.card__pic {
    /* background-color: silver; */
    width: 70px;
    height: 70px;
    border-radius: 15px;
    grid-row-end:span 2;
    background-size: cover;
    background-position: center;
}

.card__rate{
    grid-column-end: span 2;
    display: flex;
    font-size: 17px;
    justify-self: left;
}

.card__name {
    font-size: 2rem;
    justify-self: center;
}

.card__age {
    font-size: 20px;
    justify-self: center;
}

.popup__wrapper {
    position: fixed;
    background-color: #2224;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center ;
}

.popup {
    padding: 30px;
    background-color: #ede8e9;
    width: 300px;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
    display: none;
}

.popup__close {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid silver;
    background-color: #cebebe;
    /* background-image: url('img/paw\ close.png'); */
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    top: -10px;
    left: -15px;
    cursor: pointer;
    user-select: none;
    transition: all 1s ease;
    /* background-size: cover; */
    /* background-position: center; */
}

.popup__close:hover {
    width: 32px;
    height: 32px;
}

.popup.active {
    display: block;
}

.popup__wrapper.active {
    display: flex;
}

.add__btn {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    border-radius: 15px;
    /* border: 1px solid rgb(205, 205, 205, 0.5); */
    /* background-color: #d8d6e1; */
    background-image: url('img/paw.png');
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 1200px;
    cursor: pointer;
    user-select: none;
    transition: all 1s ease;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.add__btn span{
    position: relative;
    top: 10px;
}

.add__btn:hover {
    width: 97px;
    height:97px;
    font-size: 60px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

h2 {
    margin: 0;
}

.popup h2 {
    margin-bottom: 20px;
}

.row label {
    display: flex;
    align-items: center;
}

.row label img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}